<div id="footer">
      
        All written articles on this site are properties of Joseph Kelly. You can contact Joseph Kelly at joemickkelly@yahoo.com. Images were obained via Google image search. This website is a college project, and exists entirely for academic purposes. If you are the owner of these images and would like to have them removed, please contact at joemickkelly@yahoo.com.
    </div>