<nav id="navigation">
  <ul id="menu">
    <li id="index">			<a href="../index.html"> Home Page</a></li>
    <li id ="mustHaveGames"><a href="MustHaveGames.html">Must Have Games</a></li>
    <li id ="playOptions">	<a href="Play Options.html">Play Options</a></li>
    <li id ="history">		<a href="Nintendo History.html"> Nintendo History </a></li>
    <li id ="consoles">		<a href="NintendoConsoles.html"> Home Consoles</a></li>
    <li id="peripherals">	<a href="Peripherals.html"> Peripherals</a></li>
    <li id ="rareGames">	<a href="Rare Games.html"> Rare Games</a></li>
    <li id="competition">	<a href="Competition.html">Competition</a></li>
  </ul>
</nav>

